<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%-include("../shared/imports.ejs")%>
  </head>
  <body class="vh-100 blue-gradient">
    <%-include("../shared/header.ejs")%>

    <div
      class="container h-75 d-flex justify-content-center align-items-center"
    >
      <div class="card col-8 border-black">
        <div
          class="card-header bg-black text-white d-flex justify-content-between"
        >
          <h6 class="mt-2 p-1">CADASTRO DE VIAGENS</h6>
          <a class="btn btn-light" href="/viagem/listagem">LISTAGEM</a>
        </div>
        <form action="/viagem/cadastro" method="post">
          <div class="card-body p-4">
            <div class="row mt-2 mb-3 px-3">
              <div class="col-12">
                <label class="mb-1" for="motorista">Motorista</label>
                <select
                  class="form-select form-select-lg"
                  name="motorista"
                  id="motorista"
                >
                  <option value="" selected>-</option>
                  <%Motoristas.forEach(function (motorista) {%>
                  <option value="<%=motorista._id%>">
                    <%=motorista.nome%>
                  </option>
                  <%})%>
                </select>
              </div>
            </div>
            <div class="row mb-3 px-3">
              <div class="col-6">
                <div class="form-floating">
                  <input
                    type="date"
                    class="form-control"
                    name="dataPartida"
                    id="dataPartida"
                    placeholder="Data de partida"
                  />
                  <label for="dataPartida">Data de partida</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating">
                  <input
                    type="date"
                    class="form-control"
                    name="dataChegada"
                    id="dataChegada"
                    placeholder="Data de chegada"
                  />
                  <label for="dataChegada">Data de chegada</label>
                </div>
              </div>
            </div>
            <div class="row mb-3 px-3">
              <div class="col-6">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    name="cidadeOrigem"
                    id="cidadeOrigem"
                    placeholder="Cidade de origem"
                  />
                  <label for="cidadeOrigem">Cidade origem</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    name="cidadeDestino"
                    id="cidadeDestino"
                    placeholder="Cidade destino"
                  />
                  <label for="cidadeDestino">Cidade destino</label>
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-center mt-4">
              <button type="submit" class="btn btn-success col-2">
                Cadastrar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
