<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
    <a class="navbar-brand h1 mt-1">Rodoviaria</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/motorista/cadastro">Motorista</a>
        <a class="nav-link disabled">Viagem</a>
        <a class="nav-link disabled">Passagem</a>
        <a class="nav-link" href="/cliente/cadastro">Cliente</a>
        <a class="nav-link disabled">Comprar</a>
      </div>
    </div>
  </div>
</nav>
