<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%-include("../shared/imports.ejs")%>
  </head>
  <body class="vh-100 blue-gradient">
    <%-include("../shared/header.ejs")%>

    <div class="container h-75 d-flex justify-content-center align-items-center">
    <div class="card col-8 border-black">
      <div class="card-header bg-black text-white d-flex justify-content-between">
        <h6 class="mt-2 p-1">CADASTRO DE MOTORISTAS</h3>
        <a class="btn btn-light" href="/motorista/listagem">LISTAGEM</a>
      </div>
      <form action="/motorista/cadastro" method="post">
      <div class="card-body p-4">
        <div class="row mt-2 mb-3 px-3">
          <div class="col-5">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                name="cpf"
                id="cpf"
                placeholder="CPF"
              />
              <label for="cpf">CPF</label>
            </div>
          </div>
          <div class="col-7">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                name="nome"
                id="nome"
                placeholder="Nome"
              />
              <label for="nome">Nome</label>
            </div>
          </div>
        </div>
        <div class="row mb-3 px-3">
          <div class="col-4">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                name="numRegistro"
                id="numRegistro"
                placeholder="Número de registro"
              />
              <label for="numRegistro">Número de registro</label>
            </div>
          </div>
          <div class="col-8">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                name="telefone"
                id="telefone"
                placeholder="Telefone"
              />
              <label for="telefone">Telefone</label>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center mt-4">
          <button type="submit" class="btn btn-success col-2">Cadastrar</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  </body>
</html>
